
<form class="post_i" method="post" action="/posts?chatroom_id=<%= session[:id] %>">
  <input type="text" name="body" placeholder="Your Post">
  <input class="posting button" type="submit" value="submit">
</form>
    <br>
    <br>